*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: #D4E2D4;
   min-height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
form{
    width: 30%;
    padding: 30px;
    background-color: #DBC4F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
width: 100%;
height: 40px;
color: blue;
}

input::placeholder{
    color: red;
}

.input-checkbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-checkbox input{
    width: 20px;
    height: 20px;
}
button{
  padding: 10px;
  width: 80;
  background-color: black;
  color: white;
  font-size: 20px;
  
}